<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE phpunit>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    bootstrap="./tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="OaiPmhHarvesterTest">
            <directory suffix="Test.php">tests/OaiPmhHarvesterTest</directory>
        </testsuite>
        <!-- Tests requiring Mapper module -->
        <testsuite name="mapper">
            <file>tests/OaiPmhHarvesterTest/Service/OaiPmh/MapperFormatFactoryTest.php</file>
            <file>tests/OaiPmhHarvesterTest/OaiPmh/HarvesterMap/MapperFormatTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="APPLICATION_ENV" value="testing"/>
        <includePath>./tests</includePath>
    </php>
</phpunit>
